<div class='container-fluid' id='landingContainer'>
    <div class='content'>
        <h1 style='width: 100%;'>Welcome to Huff scraper - the scraper that scrapes Huffposts posts.</h1>
        <hr>
        <button type='button' id='contBtn'>Continue to site -></button>
    </div>
</div>